body.active-modal {
    overflow-y: hidden;
}


.pop, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.pop-content {
    position: absolute;
    top: 43%;
    left: 48%;
    transform: translate(-50%, -50%);
    /* line-height: 1.4; */
    background: #f1f1f1;
    /* padding: 14px 28px; */
    border-radius: 10px;
    transition: transform 0.4s, top 0.2s;
}


.image1{
    width: 110px;
    margin-top: -80px;
    margin-left: 230px;
    border-radius: 50px;
    box-shadow: 0,2px,5px rgba(0,0,0,0.5);
} 

.image2{
    width: 100px;
    margin-top: -120px;
    margin-left: 1100px;
    border-radius: 50px;
    box-shadow: 0,2px,5px rgba(0,0,0,0.5);
} 

.close-pop {
    position: absolute;
    top: 10px;
    right: 10px;
    /* padding: 5px 7px; */
    /* box-shadow: 0,2px,5px rgba(0,0,0,0.2); */
} 

/* .btn {
    padding: 10px;  
    background : #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
} */